<table class="table" border="1">
  <tr>
    <th>DELETE</th>
    <td><table border="1"><?=$t->DELETE->asTableRows()?></table></td></tr>
  <tr>
    <th>GET</th>
    <td><table border="1"><?=$t->GET->asTableRows()?></table></td>
  </tr>
  <tr>
    <th>PATCH</th>
    <td><table border="1"><?=$t->PATCH->asTableRows()?></table></td>
  </tr>
  <tr>
    <th>POST</th>
    <td><table border="1"><?=$t->POST->asTableRows()?></table></td>
  </tr>
  <tr>
    <th>PUT</th>
    <td><table border="1"><?=$t->PUT->asTableRows()?></table></td>
  </tr>
</table>